@charset "UTF-8";
@import "./jquery-ui.css";
@import "./bootstrap.css";
@import "./all.css";
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;600;700&display=swap");
*,
::after,
::before {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Baloo Paaji 2", cursive;
} 
button.btn {
  font-size: 1.4em !important;
  background-color: #6c6196 !important;
  color: #fff !important;
  border: none;
  border-radius: 30px !important;
  width: 180px;
  outline: none;
}
button.btn:hover {
  background-color: #4a3c81 !important;
  color: #fff !important;
}

h1 {
  color: #6c6196;
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}
a:hover {
  color: unset;
}

.toFixed {
  position: fixed !important;
  background-color: rgba(108, 97, 150, 0.6) !important;
  z-index: 1;
}
.toFixed div.navbar-nav {
  transform: translateY(10px);
}
.toFixed div.navbar-nav a {
  background-color: #6c6196;
}

header {
  height: 70vh;
  background-image: url("../images/header.jpg");
  background-position: 50% 20%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
}
header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 101%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
}
header .containerParent.forHeader {
  width: 100%;
  background-color: transparent;
  padding-block: 20px;
}
header .containerParent.forHeader div.container.forHeader {
  height: 70%;
}
header .containerParent.forHeader div.container.forHeader * {
  padding: 0;
  margin: 0;
}
header .containerParent.forHeader div.container.forHeader nav.navbar {
  color: #fff !important;
  background-color: transparent !important;
  height: 50px;
}
header .containerParent.forHeader div.container.forHeader nav.navbar img {
  width: 50px;
  height: 50px;
}
header .containerParent.forHeader div.container.forHeader nav.navbar a {
  color: inherit;
}
header .containerParent.forHeader div.container.forHeader nav.navbar div.navbar-collapse {
  flex-grow: 0;
}
header .containerParent.forHeader div.container.forHeader nav.navbar div.navbar-nav {
  z-index: 5;
}
header .containerParent.forHeader div.container.forHeader nav.navbar div.navbar-nav > a.nav-link {
  padding: 20px;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 0;
  z-index: 2;
}
header .containerParent.forHeader div.container.forHeader nav.navbar div.navbar-nav > a.nav-link:hover {
  background-color: #fff;
  color: #6c6196;
}
header .containerParent.forHeader div.container.forHeader nav.navbar a.navbar-brand {
  font-size: 2.5em;
  font-weight: 600;
}
header .containerParent.forHeader div.container.forHeader nav.navbar button.navbar-toggler {
  background: #fff;
}
header .containerParent.forHeader div.container.forHeader nav.navbar span.navbar-toggler-icon {
  font-size: 1.6em;
  border: none;
  color: #fff;
}
header div.containerParent.two {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header div.containerParent.two div.container.two {
  z-index: 0;
  padding-top: 50px;
  width: -moz-fit-content;
  width: fit-content;
}
header div.containerParent.two h1 {
  padding-top: 40px;
  font-size: 4em;
  line-height: 60px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}
header div.containerParent.two h1 span.hi {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto !important;
  font-size: 1.5em;
  margin-bottom: 30px !important;
  color: #4a3c81;
}
header div.containerParent.two h1 strong {
  font-size: 1.2em;
}
header div.containerParent.two h2 {
  letter-spacing: 5px;
}
header div.containerParent.two button.visitWork {
  width: -moz-fit-content;
  width: fit-content;
}

main div.containerParent.three {
  text-align: center;
  background-color: white;
  z-index: 2;
}
main div.containerParent.three .skill {
  border: 2px solid #6c6196;
  border-radius: 30px;
  margin-bottom: 20px;
  padding-block: 15px;
}
main div.containerParent.three .skill h3 {
  font-weight: 800;
  font-size: 1.3em;
}
main div.containerParent.four {
  margin-block: 40px;
}
main div.containerParent.four div.container.four {
  margin-top: 80px;
  font-size: 1.1em;
}
main div.containerParent.four div.container.four div.col-md-4 {
  background-image: url(../images/man.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 400px;
  margin-bottom: 10px;
  padding: 0;
}
main div.containerParent.four div.container.four div.col-md-8 p {
  margin: 0;
}
main div.containerParent.four div.container.four div.col-md-8 p.story {
  margin-bottom: 15px;
}
main div.containerParent.four div.container.four div.col-md-8 h1 {
  margin-bottom: 10px;
}
main div.containerParent.four div.container.four div.col-md-8 .downCv {
  background-color: #fff !important;
  color: #6c6196 !important;
  border: 1px solid #6c6196 !important;
  font-size: 1em !important;
}
main div.containerParent.four div.container.four div.col-md-8 .downCv:hover {
  color: #fff !important;
  background-color: #6c6196 !important;
}
main div.containerParent.five {
  text-align: center;
  margin-block: 80px 80px;
}
main div.containerParent.five img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  -o-object-position: 30% 0%;
     object-position: 30% 0%;
  border: 2px solid #4a3c81;
  border-radius: 20px;
}
main div.containerParent.five div.col-md-4 {
  padding: 10px 20px;
}
main div.containerParent.five div.col-md-4 a {
  display: inline-block;
  width: 100%;
}
main div.containerParent.five h3 {
  margin-top: 20px;
  background-color: #6c6196;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  border-radius: 10px;
  padding-block: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding-inline: 20px;
  margin-inline: auto;
  color: #fff !important;
  background-color: #4a3c81 !important;
  border: 1px solid #6c6196 !important;
}
main div.containerParent.five h3:hover {
  background-color: #fff !important;
  color: #6c6196 !important;
}
main div.containerParent.five button.showAll {
  background-color: #fff !important;
  color: #6c6196 !important;
  border: 1px solid #6c6196 !important;
  font-size: 1em !important;
}
main div.containerParent.five button.showAll:hover {
  color: #fff !important;
  background-color: #6c6196 !important;
}
main div.containerParent.five p {
  font-size: 1.6em;
  font-weight: 600;
}
main div.containerParent.six {
  background-color: #4a3c81;
  color: #fff;
}
main div.containerParent.six div.container.six div.row.info div.col-md-6 {
  padding: 20px;
}
main div.containerParent.six div.container.six div.row.info div.col-md-6.first {
  padding-left: 50px;
}
main div.containerParent.six div.container.six div.row.info h1 {
  color: inherit;
  margin-bottom: 10px;
  line-height: 90%;
}
main div.containerParent.six div.container.six div.row.info button.hireMe {
  border-radius: 0 !important;
  background-color: #fff !important;
  color: #333 !important;
  border-radius: 5px !important;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  font-weight: 800;
  font-size: 0.9em;
}
main div.containerParent.six div.container.six div.row.info button.hireMe:hover {
  background-color: #ddd !important;
}
main div.containerParent.seven {
  margin-block: 80px;
}
main div.containerParent.seven h3.testHead {
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 80px;
}
main div.containerParent.seven div.container.seven .row {
  text-align: start;
}
main div.containerParent.seven div.container.seven .row div.col-md-6 {
  padding-inline: 30px;
  margin-bottom: 50px;
}
main div.containerParent.seven div.container.seven .row div.col-md-6 div.testimonCon {
  height: 100%;
  padding: 30px;
  padding-left: 40px;
  border: 1px solid #6c6196;
  position: relative;
}
main div.containerParent.seven div.container.seven .row div.col-md-6 div.testimonCon::before {
  content: "";
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -60%);
  border-radius: 50%;
  border: 1px solid #4a3c81;
}
main div.containerParent.seven div.container.seven .row div.col-md-6 div.testimonCon.first::before {
  background-image: url(../images/avatar2.jpg);
  background-size: cover;
}
main div.containerParent.seven div.container.seven .row div.col-md-6 div.testimonCon.second::before {
  background-image: url(../images/avatar3.jpg);
  background-size: cover;
}
main div.containerParent.seven div.container.seven .row div.col-md-6 div.testimonCon h3 {
  color: #6c6196;
  font-weight: 600;
  font-size: 1.4em;
}
main div.containerParent.eight {
  font-size: 1.5em !important;
  margin-block: 80px;
  max-width: 700px;
  margin-inline: auto;
}
main div.containerParent.eight div.container.eight div.row.form input,
main div.containerParent.eight div.container.eight div.row.form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}
main div.containerParent.eight button.sendMess {
  background-color: #fff !important;
  color: #6c6196 !important;
  border: 1px solid #6c6196 !important;
  font-size: 1em !important;
  display: block;
  margin-inline: auto;
}
main div.containerParent.eight button.sendMess:hover {
  color: #fff !important;
  background-color: #6c6196 !important;
}
main div.parentContainer.forForm {
  max-width: 600px;
  margin-inline: auto;
}
main form .title {
  margin-top: 20px !important;
}

footer div.containerParent.nine div.container.nine p {
  font-size: 1.2em;
}
footer div.containerParent.nine div.container.nine div.col-md-6.second a i,
footer div.containerParent.nine div.container.nine div.col-md-6.second a svg {
  display: inline-block;
  padding: 8px;
  font-size: 1.8em;
  border: 3px solid #aaa;
  border-radius: 50%;
  margin-inline: 10px;
}

div.animation {
  display: none;
  position: fixed;
  left: 1%;
  top: 80%;
  transform: scale(70%);
}
div.animation a.call-link {
  width: 70px;
  height: 70px;
  background: #6c6196;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  text-decoration: none;
}
div.animation a.call-link.icon-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #4a3c81;
  border-radius: 50%;
  z-index: 0;
  transform-origin: 50% 50%;
  animation-name: spreading, blur-effect;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
}
div.animation i,
div.animation svg {
  /*   transform: translateX(50%) */
  color: white;
  font-size: 35px;
  transform-origin: 50% 50%;
  animation-name: rotating;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
div.animation a#myAnchor::before {
  content: "0961.056.732";
  position: absolute;
  bottom: 50%;
  left: 125%;
  color: linen;
  background: #6c6196;
  width: 0;
  height: 3.5rem;
  font-size: 2.3rem;
  font-weight: 800;
  letter-spacing: 1.5px;
  transform: translateY(50%);
  border-radius: 25px 30px 30px 0;
  display: grid;
  justify-items: center;
  /*   align-items: center; */
  align-content: center;
  overflow: hidden;
  transition: width 0.4s ease-in-out 0s;
  /*   padding-inline-start: 4px; */
}
div.animation a#myAnchor:hover::before {
  width: 16rem;
}
@keyframes spreading {
  0% {
    transform: scale(100%); /*là original state, no changes*/
  }
  50% {
    transform: scale(160%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes blur-effect {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(0);
  }
}

div.toTop {
  border: 1px solid #6c6196;
  position: fixed;
  border-radius: 15px;
  font-size: 1.1em;
  font-weight: 600;
  top: 83%;
  right: 1%;
  background-color: rgba(108, 97, 150, 0.9333333333);
  color: #4a3c81;
  width: 30px;
  height: 30px;
  display: none;
}
div.toTop a {
  padding: 5px;
  display: block;
  line-height: 0;
}
@media (min-width: 576px) {
  .skill {
    padding: 20px 20px 10px !important;
  }
  div.containerParent.four {
    text-align: center;
  }
  div.animation {
    display: unset;
  }
}
@media (min-width: 768px) {
  .skill {
    height: 100%;
    padding: 20px 20px 0px !important;
  }
  div.containerParent.four {
    text-align: left;
  }
  div.containerParent.four div.col-md-4 {
    padding-left: 40px;
    max-height: 320px !important;
    min-height: unset !important;
  }
  div.containerParent.four div.col-md-8 {
    padding-left: 40px;
  }
  div.containerParent.five h3 {
    width: 100%;
    padding-inline: 0px;
  }
  h3.testHead {
    margin-bottom: 40px !important;
  }
  div.col-md-6 {
    margin-bottom: 20px !important;
  }
  div.col-md-6 div.testimonCon::before {
    content: "";
    top: 50% !important;
    left: 0% !important;
    transform: translate(-70%, -50%) !important;
  }
  div.containerParent.nine div.container.nine div.col-md-6.first {
    justify-content: start !important;
  }
  div.containerParent.nine div.container.nine div.col-md-6.second {
    justify-content: end !important;
  }
}
@media (min-width: 992px) {
  .toFixed div.navbar-nav a {
    background-color: unset !important;
  }
  .toFixed div.navbar-nav a:hover {
    background-color: #fff !important;
  }
}/*# sourceMappingURL=style.css.map */